/* TODO: Organize CSS */
/* TODO: Add CSS variables */

* {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: "Nunito", sans-serif;
    color: #707070;
}

h1 {
    font-weight: 900;
    /* font-size: 6.5vw; */
    font-size: 96px;
    /* font-size: 6.25vw; */

    line-height: 131px;
    margin-block-start: 0;
    margin-block-end: 0;
}

h2 {
    font-weight: 900;
    font-size: 50px;
    /* font-size: 3.25vw; */

    margin-block-start: 0;
    margin-block-end: 0;
}

h3 {
    font-weight: 700;
    /* font-size: 2.35vw; */

    font-size: 36px;
    margin-block-start: 0;
    margin-block-end: 0;
}

p {
    font-weight: 400;
    /* font-size: 1.85vw; */
    font-size: 28px;
    line-height: 38px;
}

ul {
    padding-left: 0;
    list-style-position: inside;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

li {
    margin-bottom: 1em;
}

figure {
    border: 4px dotted gray;
    /* margin: 20px; adjust as needed */
}

figure img {
    border: 1px solid rgb(108, 108, 170);
    margin-left: auto;
    margin-right: auto;
    /* margin-left: 50px; */
    /* margin-right: 15px; */
}

figure figcaption {
    border: 1px solid blue;
    text-align: center;
    font-weight: 900;
    font-size: 26px;
}

nav {
    border: 5px solid #95f871;
    grid-area: nav;
    text-align: center;
    z-index: 2;
    padding-right: 100px;
}

nav ul {
    border: 5px solid #798d72;
    list-style-type: none;
    float: right;
    margin: 30px 0;
    /* padding: 40px 0; */
}

nav ul li {
    float: left;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0 30px;
    font-weight: 900;
    font-size: 26px;
}

#logo {
    float: left;
}

.button {
    border-radius: 1000px;
    border: none;
    text-align: center;
    display: inline-block;
    font: 900 large "Nunito";
    font-size: 21px;
    margin: 4px 2px;

    color: #ffffff;
    cursor: pointer;
    outline: none;
    background: #6c63ff;
}

.contact-me-button {
    font-size: 26px;
    padding: 20px 32px;
}

.landing-page-container {
    display: grid;
    /* height: 100vh; */
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 4fr 2fr;
    grid-template-areas:
        "nav nav"
        "name-intro profile-pic"
        "contact-me-container profile-pic";
}

#landing-blob {
    position: absolute;
    /* height: 100%; */
    /* width: 50%; */
    top: 0px;
    right: 0px;
    z-index: -1;
}

#background-logo {
    position: absolute;
    height: 1138px;
    width: 723px;
    opacity: 0.1;
    z-index: -1;
    right: 0px;
}

#name-intro-container {
    border: 5px solid #4dfc10;
    padding-left: 250px;
    padding-top: 20px;

    grid-area: name-intro;
}

#profile-pic {
    border: 5px solid #3bb30f;
    grid-area: profile-pic;
    z-index: 2;
}

#profile-pic img {
    transition: transform 0.5s; /* Animation */

    width: 60%;
}

#profile-pic img:hover {
    transform: scale(1.1);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* TODO: Center photo vertically as well */
}

#contact-me-container {
    border: 5px solid #267409;
    grid-area: contact-me-container;
    padding-left: 250px;
}

#contact-me-bar {
    display: flex;
    align-items: center;
    /* border: 5px solid #33a31d; */
    /* margin: 0 25px; */

    /* padding-right: 40px; */
}

#contact-me-socials {
    margin: 0 50px;

    /* border: 5px solid #502263; */
}

.contact-me-item {
    /* border: 5px solid #502263; */
    margin-right: 25px;
    width: 50px;
    height: 50px;
}

#scroll-to-top-button {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 15px;
    z-index: 99;
    font-size: 18px;
    border: 2px solid #14130e;
    outline: none;
    background-color: #6c63ff;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    opacity: 0;
    transition: 0.75s;
    transition-timing-function: ease-in-out;
}

.mouse {
    border: 4px solid #2f2e41;
    border-radius: 26px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    width: 40px;
    height: 60px;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: 0.75s;
}

.mouse::after {
    background-color: black;
    border-radius: 100%;
    content: "";
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -2px;
    width: 4px;
    height: 4px;
    opacity: 1;
    -webkit-transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
    transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
    -webkit-animation: scroll 2s -1s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
    animation: scroll 2s -1s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
}

@-webkit-keyframes scroll {
    0%,
    20% {
        -webkit-transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
        transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
    }
    10% {
        -webkit-transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
        transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
        transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
        opacity: 0.01;
    }
}

@keyframes scroll {
    0%,
    20% {
        -webkit-transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
        transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
    }
    10% {
        -webkit-transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
        transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
        transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
        opacity: 0.01;
    }
}

.about-me-container {
    border: 5px solid #323d99;
    padding-bottom: 150px;
    padding-top: 100px;
    /* margin-bottom: 200px; */
    display: grid;
    background-image: url("./assets/Organic_Shapes/About\ Me\ Blob\ Shape.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 90vh; */
    grid-template-columns: 1.15fr 1fr;
    grid-template-rows: fr;
    grid-template-areas: "about-me-images about-me-text";
}

#about-me-images {
    border: 5px solid #e58282;
    grid-area: about-me-images;
}

#about-me-images img {
    transition: transform 0.5s; /* Animation */
}

#about-me-images img:hover {
    transform: scale(1.1);
}

#grad-cap-illustration {
    border: 5px solid #a05e5e;

    position: relative;
    width: 50%;
    display: block;
}

#desk-illustration {
    border: 5px solid #851313;

    position: relative;
    width: 50%;
    display: block;
    left: 30%;
}

#about-me-text {
    padding-top: 150px;
    padding-right: 50px;
    border: 5px solid #aa6161;

    grid-area: about-me-text;
}

.experience-container {
    border: 5px solid #1b420c;
    display: grid;
    /* height: 90vh; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0fr 5.5fr;
    grid-template-areas:
        "experience-header experience-header experience-header"
        "card1 card2 card3";
}

#experience-header {
    border: 5px solid #d8f485;
    grid-area: experience-header;
}

.experience-thumbnail {
    height: 50px;
    width: 50px;
}

.card {
    background: #ffffff;
    /* width: 100%; */
    /* height: 60%; */
    /* height: 625px; */
    /* width: 500px; */
    margin: 30px;
    padding: 20px;
    position: relative;
    /* box-sizing: border-box; */

    box-shadow: 0px 19px 39px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    transition: transform 0.5s; /* Animation */
}

.card:hover {
    transform: scale(1.1);
}

#card1 {
    border: 5px solid #a3b864;
    grid-area: card1;
}

#card2 {
    border: 5px solid #748347;
    grid-area: card2;
}

#card3 {
    border: 5px solid #4b552e;
    grid-area: card3;
}

.primary-title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 1px solid #694148;
}

.thumbnail {
    border: 1px solid #c44b5f;
}

.card-title {
    font-family: "Nunito", sans-serif;
    font-size: 21px;
    font-weight: 900;
    border: 1px solid #832434;
}

.employer {
}

.raytheon {
    /* color: #ce1126; */
}
#raytheon-title {
    color: #ce1126;
}

#id-tech-title {
    color: #006633;
}

#reazon-title {
    color: #00acee;
}

.location {
    border: 1px solid #572e35;
}

.secondary-title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 1px solid #c9a7ad;
}

.position {
    font-family: "Nunito", sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #707070;
    border: 1px solid #f07c90;
}

.duration {
    /* display: inline-block; */
    /* position: absolute; */
    /* right: 16px; */
    border: 1px solid #a3727b;
}

.supporting-text {
    font-family: "Nunito", sans-serif;
    font-size: 15px;
    border: 1px solid #b9a2a6;
    /* position: relative; */
    margin-bottom: 100px;
    margin-top: 1em;
    /* margin: 1em 0; */
    /* padding-bottom: 28px; */
    /* padding-left: 16px;
    padding-right: 16px; */
    /* line-height: 1.5; */
}

.bottom-bar {
    /* width: 100% - 20px; */
    /* width: 100%; */
    /* box-sizing: border-box; */
    /* box-sizing: content-box; */

    position: absolute;
    bottom: 20px;
    /* left: 0px; */
    /* top: ; */
    /* margin-top: 50px; */
    display: flex;
    align-items: center;
    border: 1px solid #532a32;

    justify-content: space-between;
}

.languages-bar {
    display: flex;
    align-items: center;
    /* padding: 0 10px; */
    border: 1px solid #eccdd3;
}

.languages-item {
    margin: 0px 7px;
    width: 40px;
    height: 40px;
}

.button-row {
    display: flex;
    justify-content: flex-end;
    border: 1px solid #806114;
    /* border: 50px solid #3b3da5; */
}

.view-more-button img {
    width: 40px;
    height: 40px;
}

.skills-container {
    display: grid;
    border: 5px solid #a53b82;
    margin-top: 150px;

    /* height: 75vh; */
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 7.5fr;
    grid-template-areas:
        "skills-header"
        "skills-content";
}

#skills-header {
    border: 5px solid #828acf;
    text-align: center;

    grid-area: skills-header;
}

#skills-content {
    border: 5px solid #6970a8;
    grid-area: skills-content;
    background-image: url("./assets/Organic_Shapes/Skills\ and\ Technologies\ Blob\ Shape.png");
    /* background-size: 600px; */
    /* height: 10%; */
    background-repeat: no-repeat;
    padding-bottom: 150px;

    /* margin-left: auto; */
    /* margin-right: auto; */
}

.skills-row {
    border: 5px solid #515baf;
    justify-content: center;

    display: flex;
}

.skills-icon {
    /* margin: 0 50px; */
    /* text-align: center; */
}

.graphic-design-container {
    display: grid;
    /* height: 100vh; */
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 13fr;
    grid-template-areas:
        "graphic-design-header"
        "graphic-design-content";
}

#graphic-design-header {
    border: 5px solid #e18ce2;
    grid-area: graphic-design-header;
}

#graphic-design-content {
    border: 5px solid #9f64a0;
    grid-area: graphic-design-content;
    margin-bottom: 150px;
    /* padding: 0 auto; */
}

.row {
    /* border: 5px solid #64a091; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* or space-around */

    padding: 0 4px;
}

/* Create four equal columns that sit next to each other */
.column {
    /* border: 5px solid #727e09; */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;

    /* margin: 0 auto; */
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border-radius: 10px;
    /* flex-grow: 4; default 0 */
}

.sw-projects-container {
    border: 5px solid #585240;

    background-image: url("./assets/Organic_Shapes/Bottom\ Wave.png");
    background-repeat: no-repeat;
    background-position: bottom left;

    display: grid;
    /* height: 100vh; */
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 3fr 3fr 3fr 3fr 3fr 3fr;
    grid-template-areas:
        "sw-projects-header"
        "sw-projects-card1"
        "sw-projects-card2"
        "sw-projects-card3"
        "sw-projects-card4"
        "sw-projects-card5"
        "sw-projects-card6";
}

#sw-projects-header {
    border: 5px solid #ad9f7c;
    grid-area: sw-projects-header;
}

.sw-projects-cards {
    background: #ffffff;
    width: 85%;
    /* height: 20vh; */
    margin: 30px auto;
    padding: 40px;

    box-shadow: 0px 19px 39px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.sw-projects-info {
    display: flex;
    border: 1px solid #877c60;
}

.sw-projects-img {
    /* display: inline; */
    padding-right: 20px;
    height: 240px;
    width: 400px;
}

.sw-projects-text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid #aa945d;

    /* height: 100vh; */
}

/* .sw-projects-text li { */
/* margin: 1em 0; */
/* } */

.sw-projects-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 200px;
    /* position: absolute; */
    /* padding: 10px 600px; */
    /* position: absolute;
    right: 0;
    bottom: 0; */
}

.sw-projects-button img {
    /* padding-left: 10px; */
    height: 35px;
    width: 35px;
}

#sw-projects-card1 {
    border: 5px solid #877c60;
    grid-area: sw-projects-card1;
}

#sw-projects-card2 {
    border: 5px solid #776d55;
    grid-area: sw-projects-card2;
}

#sw-projects-card3 {
    border: 5px solid #464032;
    grid-area: sw-projects-card3;
}

#sw-projects-card4 {
    border: 5px solid #3f3a2d;
    grid-area: sw-projects-card4;
}

#sw-projects-card5 {
    border: 5px solid #25221b;
    grid-area: sw-projects-card5;
}

#sw-projects-card6 {
    border: 5px solid #14130e;
    grid-area: sw-projects-card6;
}

#bottom-wave {
    left: 0px;
    bottom: 0px;
    z-index: 1;
}

@media screen and (max-width: 800px) {
    .landing-page-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3.1fr 2.6fr 1.2fr;
        grid-template-areas:
            "nav"
            "profile-pic"
            "name-intro"
            "contact-me-container";
    }

    .about-me-container {
        grid-template-columns: 1fr;
        grid-template-rows: 4.6fr 4.2fr;
        grid-template-areas:
            "about-me-images"
            "about-me-text";
    }

    .experience-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5.2fr 5.2fr 5.2fr;
        grid-template-areas:
            "experience-header"
            "card1"
            "card2"
            "card3";
    }

    .skills-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 4.5fr;
        grid-template-areas:
            "skills-header"
            "skills-content";
    }

    .graphic-design-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 6fr;
        grid-template-areas:
            "graphic-design-header"
            "graphic-design-content";
    }

    /* Responsive layout - makes a two column-layout instead of four columns */
    .column {
        flex: 50%;
        max-width: 50%;
    }

    .sw-projects-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5.3fr 5.3fr 5.3fr 5.3fr 5.3fr 5.3fr;
        grid-template-areas:
            "sw-projects-header"
            "sw-projects-card1"
            "sw-projects-card2"
            "sw-projects-card3"
            "sw-projects-card4"
            "sw-projects-card5"
            "sw-projects-card6";
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}
