/* TODO: Organize CSS into multiple files*/
/* TODO: Add CSS variables */

/* 
==========================
GLOBAL STYLES
==========================
*/

:root {
    --purple-color: #6c63ff;
    --off-grey-color: #707070;
    --yellow-color: #f2d541;
    --reazon-color: #00acee;
    --raytheon-color: #ce1126;
    --id-tech-color: #006633;

    --thumbnail-size: 40px;
    --rounded-button-corners-size: 1000px;
    --rounded-component-corners-size: 40px;
    --animation-duration: 0.5s;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-family: "Nunito", sans-serif;
    color: var(--off-grey-color);
    margin: 0;
    /* position: fixed; */
}

html,
body {
    height: 100%;
}

h1 {
    font-weight: 900;
    font-size: 6rem;
    line-height: 131px;
    margin-block-start: 0;
    margin-block-end: 0;
}

h2 {
    font-weight: 900;
    font-size: 3.125rem;

    margin-block-start: 0;
    margin-block-end: 0;
}

h3 {
    font-weight: 700;
    font-size: 2.25rem;

    margin-block-start: 0;
    margin-block-end: 0;
}

h4 {
    font-weight: 400;
    font-size: 1.5rem;
}

p,
li {
    /* font-weight: 400; */
    /* font-size: 1.125rem; */
}

a {
    text-decoration: none;
}

ul {
    padding-left: 0;
    list-style-position: inside;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

li {
    margin-bottom: 1em;
}

nav {
    /* border: 5px solid red; */
    display: flex;
    justify-content: space-between;
    grid-area: nav;
    align-items: center;
    height: 12vh;
}

nav ul {
    /* border: 5px solid green; */

    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 45%;
}

nav li {
    float: left;
    margin-bottom: 0;
    animation: navLinkFade 0.5s ease forwards;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 900;
    /* font-size: 1.625rem; */
    font-size: 1.5vw;

    position: relative;
    transition: var(--animation-duration);
}

nav a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0%;
    background: var(--yellow-color);
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
}

nav a:hover {
    color: var(--yellow-color);
}

nav a:hover::after {
    /* Moves the underline bar */
    transform: scaleX(1);
    transform-origin: left;
}

.nav-active {
    transform: translateX(0%);
}

.hamburger-menu {
    display: none;
}

.line {
    width: 25px;
    height: 5px;
    border-radius: var(--rounded-button-corners-size);
    background-color: white;
    margin: 5px;
    transition: all 0.5s ease;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* 
==========================
COMPONENTS
==========================
*/

.page-container {
    padding: 0 1em;
}

.section-header {
    text-transform: uppercase;
}

.button {
    border-radius: var(--rounded-button-corners-size);
    border: none;
    text-align: center;
    font: 900 large "Nunito";
    font-size: 1.125rem;
    margin: 5px;
    text-transform: uppercase;

    color: white;
    cursor: pointer;
    outline: none;
    background: var(--purple-color);
}

.modal-bg {
    /* display: none; Hidden by default */
    position: fixed; /* Stay in place */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    left: 0;
    top: -100%;
    opacity: 0;
    z-index: 1; /* Sit on top */
    background-color: black; /* Fallback color */
    background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
    transition: top 0.5s, opacity 0.5s;
}

.modal-bg.show {
    top: 0;
    opacity: 1;
}

.modal-content {
    position: relative;
    font-size: 2rem;
    width: 50%; /* Could be more or less, depending on screen size */
    margin: 10% auto; /* 10% from the top and centered */
    padding: 40px;
    border: 1px solid var(--off-grey-color);
    border-radius: var(--rounded-component-corners-size);
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* animation-name: animatetop; */
    /* animation-duration: 1.5s; */
}

.close {
    position: absolute;
    top: 0;
    right: 20px;
    color: black;
    float: right;
    font-size: 3rem;
    font-weight: bold;
    transition: 0.5s ease-out;
}

.close:hover,
.close:focus {
    color: var(--purple-color);
    text-decoration: none;
    cursor: pointer;
}

/* @keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
} */

/* 
==========================
IMAGES
==========================
*/

#logo {
    /* border: 5px solid red; */
    float: left;
}

#logo img {
    height: 8vh;
}

#landing-blob {
    position: absolute;
    width: 50%;
    /* height: 100%; */
    top: 0px;
    right: 0px;
    z-index: -1;
}

#about-me-blob {
    position: absolute;
    width: 50%;
    z-index: -1;
}

#bottom-wave {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: -1;
}

#background-logo {
    position: absolute;
    width: 50%;
    opacity: 0.1;
    z-index: -1;
    right: 0px;
}

#scroll-to-top-button {
    display: block;
    height: 75px;
    width: 75px;
    position: fixed;
    bottom: 20px;
    right: 15px;
    z-index: 99;
    font-size: 1.875rem;
    outline: none;
    background-color: var(--yellow-color);
    color: black;
    box-shadow: 2px 5px 10px grey;
    cursor: pointer;
    border-radius: 50%; /* Creates a circle */
    opacity: 0;
    transition: 1s;
}

#scroll-to-top-button:hover {
    transform: scale(1.1);
}

.mouse {
    border: 4px solid #2f2e41;
    border-radius: var(--rounded-button-corners-size);
    width: 40px;
    height: 60px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: 0.75s;
}

.mouse::after {
    background-color: black;
    border-radius: 100%;
    content: "";
    opacity: 1;
    width: 4px;
    height: 4px;
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -2px;
    -webkit-transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
    transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
    -webkit-animation: scroll 2s -1s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
    animation: scroll 2s -1s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
}

@-webkit-keyframes scroll {
    0%,
    20% {
        -webkit-transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
        transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
    }
    10% {
        -webkit-transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
        transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
        transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
        opacity: 0.01;
    }
}

@keyframes scroll {
    0%,
    20% {
        -webkit-transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
        transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
    }
    10% {
        -webkit-transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
        transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
        transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
        opacity: 0.01;
    }
}

/* 
==========================
LANDING PAGE SECTION
==========================
*/

#landing-page-container {
    /* border: 5px solid #ad37ca; */
    display: grid;
    margin-bottom: 150px;
    grid-template-columns: 1.5fr 1fr;
    /* grid-template-rows: 1fr; */

    grid-template-areas:
        "nav nav"
        "name-intro profile-pic-container";
}

#name-intro-container {
    /* border: 5px solid #4dfc10; */
    padding-left: 25%;
    padding-top: 10%;

    grid-area: name-intro;
}

#profile-pic-container {
    /* border: 5px solid #3bb30f; */

    grid-area: profile-pic-container;
}

#profile-pic {
    display: block;
    margin: 2rem auto;
    max-width: 80%;
    /* height: auto; */
    padding: 0 2rem;
}

#profile-pic:hover {
}

#modal-profile-pic-container {
}

#modal-profile-pic {
    border: 1rem solid var(--purple-color);
    border-radius: 100%;
    margin: 0 auto;
    display: block;
    max-width: 30%;
    height: auto;
}

#contact-me-container {
    /* border: 5px solid #267409; */
    padding-left: 250px;

    grid-area: contact-me-container;
}

#contact-me-bar {
    /* border: 5px solid #33a31d; */
    display: flex;
    align-items: center;
    margin-top: 75px;
}

#contact-me-button {
    font-size: 1.625rem;
    padding: 15px 20px;
    color: white;
}

#contact-me-button span {
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

#contact-me-button span::after {
    content: "\00bb"; /* Makes an arrow >> */
    color: var(--yellow-color);
    opacity: 0;
    position: absolute;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#contact-me-button:hover span {
    padding-right: 20px;
}

#contact-me-button:hover span:after {
    opacity: 1;
    right: 0;
}

#contact-me-socials {
    /* border: 5px solid #502263; */
    margin: 0 50px;
}

#contact-me-socials img {
    transition: transform 0.25s; /* Animation */
}

#contact-me-socials img:hover {
    transform: scale(1.1);
}

.contact-me-item {
    /* border: 5px solid red; */
    margin-right: 25px;
    width: 50px;
    height: 50px;
}

/* 
==========================
ABOUT ME SECTION
==========================
*/

#about-me-container {
    /* border: 5px solid #323d99; */
    display: grid;
    padding-bottom: 100px;
    margin-top: 50px;
    padding-top: 50px;
    background-image: url("./assets/Organic_Shapes/About\ Me\ Blob\ Shape.svg");
    background-repeat: no-repeat;
    /* background-size: cover; */

    /* grid-template-rows: fr; */
    grid-template-columns: 1.15fr 1fr;
    grid-template-areas: "about-me-images about-me-text";
}

#about-me-images {
    /* border: 5px solid #e58282; */

    grid-area: about-me-images;
}

#about-me-images img {
    transition: transform 0.25s; /* Animation */
}

#about-me-images img:hover {
    transform: scale(1.1);
}

#about-me-text {
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 38px;

    padding-top: 150px;
    padding-right: 150px;

    grid-area: about-me-text;
}

#grad-cap-illustration {
    /* border: 5px solid #a05e5e; */
    display: block;
    position: relative;
    width: 50%;
}

#desk-illustration {
    /* border: 5px solid #851313; */
    display: block;
    position: relative;
    width: 50%;
    left: 30%;
}

/* 
==========================
EXPERIENCE SECTION
==========================
*/

#experience-container {
    /* border: 5px solid #1b420c; */
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0fr 5.5fr;
    grid-template-areas:
        "experience-header experience-header experience-header"
        "card1 card2 card3";
}

#experience-header {
    /* border: 5px solid #d8f485; */

    grid-area: experience-header;
}

#card1 {
    /* border: 5px solid #a3b864; */
    grid-area: card1;
}

#card2 {
    /* border: 5px solid #748347; */
    grid-area: card2;
}

#card3 {
    /* border: 5px solid #4b552e; */
    grid-area: card3;
}

.experience-thumbnail {
    height: 40px;
    width: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    /* display: flex;
    justify-content: space-between; */
    background: white;
    position: relative;
    margin: 30px;
    padding: 35px;
    font-size: 1.125rem;

    border-radius: var(--rounded-component-corners-size);
    /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25); */

    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
    transition: transform 0.5s; /* Animation */
}

.card:hover {
    transform: scale(1.1);
}

.experience-title-container {
    /* border: 5px solid #694148; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 1em; */
}

.thumbnail {
    /* border: 1px solid #c44b5f; */
}

.card-title {
    /* border: 5px solid #832434; */
    font-family: "Nunito", sans-serif;
    font-size: 1.35rem;

    font-weight: 900;
}

.employer {
}

.raytheon {
}

#raytheon-title {
    color: var(--raytheon-color);
}

#id-tech-title {
    color: var(--id-tech-color);
}

#reazon-title {
    color: var(--reazon-color);
}

.location {
    margin-top: 10px;
    margin-bottom: 50px;
    /* border: 5px solid #572e35; */
}

.secondary-title {
    /* border: 5px solid #c9a7ad; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.position {
    /* border: 5px solid #f07c90; */
    font-family: "Nunito", sans-serif;
    /* font-size: 1.125rem; */
    font-weight: 600;
    color: var(--off-grey-color);
}

.duration {
    /* border: 5px solid #a3727b; */
}

.supporting-text {
    /* border: 5px solid #b9a2a6; */
    font-family: "Nunito", sans-serif;
    /* font-size: 1rem; */
    /* margin-bottom: 100px; */
    margin-top: 1em;
}

.languages-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* position: static; */
    margin-top: auto;
    /* border: 5px solid #eccdd3; */
}

.languages-item {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.languages-item:last-child {
    margin: 0;
}

/* 
==============================
SKILLS & TECHNOLOGIES SECTION
==============================
*/

#skills-container {
    /* border: 5px solid #a53b82; */
    display: grid;
    padding-top: 50px;
    margin-top: 50px;
    background-image: url("./assets/Organic_Shapes/Skills\ and\ Technologies\ Blob\ Shape.svg");
    background-repeat: no-repeat;
    /* background-size: cover; */

    /* grid-template-rows: 0fr 7.5fr; */
    grid-template-columns: 1fr;
    grid-template-areas:
        "skills-header"
        "skills-content";
}

#skills-header {
    /* border: 5px solid #828acf; */
    text-align: center;
    margin-bottom: 2rem;

    grid-area: skills-header;
}

#skills-content {
    /* border: 5px solid #6970a8; */
    padding-bottom: 100px;

    grid-area: skills-content;
}

.skills-row {
    /* border: 5px solid #515baf; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    /* align-content: space-between; */
    /* flex-shrink: 4; */

    /* justify-content: space-around; */
    /* width: 100%; */
}

.skills-icon-container {
    display: flex;
    flex-direction: column;

    align-content: center;
    /* border: 5px solid green; */
    margin: 0 50px;
}

.skills-icon {
    /* border: 5px solid red; */
    /* margin-left: 15px; */
    /* margin-right: 15px; */
}

.skills-caption {
    /* border: 5px solid blue; */
    text-align: center;
    font-weight: 900;
    font-size: 1.625rem;
}

/* 
==========================
GRAPHIC DESIGN SECTION
==========================
*/

#graphic-design-container {
    /* border: 5px solid #fc8e10; */
    display: grid;
    margin-bottom: 100px;

    grid-template-columns: 1fr;
    /* grid-template-rows: 0fr 13fr; */
    grid-template-areas:
        "graphic-design-header"
        "graphic-design-content";
}

#graphic-design-header {
    /* border: 5px solid #e18ce2; */

    grid-area: graphic-design-header;
}

#graphic-design-content {
    /* border: 5px solid #9f64a0; */

    grid-area: graphic-design-content;
}

.row {
    /* border: 5px solid #64a091; */
    display: flex;
    /* display: none; */

    flex-wrap: wrap;
    justify-content: space-between; /* or space-around */

    padding: 0 5px;
}

/* Create four equal columns that sit next to each other */
.column {
    /* border: 5px solid #727e09; */
    flex: 25%;
    max-width: 25%;
    padding: 0 5px;
}

.column img {
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    vertical-align: middle;

    transition: 0.25s;
}

.column img:hover {
    transform: scale(1.1);
}

#main-carousel {
    display: none;
}

/* 
==========================
SW PROJECTS SECTION
==========================
*/

#sw-projects-container {
    /* border: 5px solid #585240; */
    display: grid;
    position: relative; /* For the background image */

    /* grid-template-rows: 0fr 3fr 3fr 3fr 3fr 3fr 3fr; */
    grid-template-columns: 1fr;
    grid-template-areas:
        "sw-projects-header"
        "sw-projects-card1"
        "sw-projects-card2"
        "sw-projects-card3"
        "sw-projects-card4"
        "sw-projects-card5"
        "sw-projects-card6";
}

#sw-projects-header {
    /* border: 5px solid #ad9f7c; */

    grid-area: sw-projects-header;
}

.sw-projects-cards {
    width: 85%;
    margin: 30px auto;
    padding: 40px;
    font-weight: 400;
    font-size: 1.125rem;

    background: white;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
    border-radius: var(--rounded-component-corners-size);
    transition: transform 0.5s; /* Animation */
}

.sw-projects-cards:hover {
    transform: scale(1.1);
}

.sw-projects-title-container {
    display: flex;
    justify-content: space-between;
}
.sw-project-title {
    /* border: 5px solid #af812c; */
    font-size: 2rem;
    font-weight: 800;
    line-height: 1;
}

.sw-projects-content {
    /* border: 5px solid #2c4baf; */
    /* margin-top: 20px; */
    display: flex;
}

.sw-projects-cards .languages-bar {
    margin: 10px 0;
    /* width: 50%; */
}

.card-content {
    /* border: 5px solid #2ceeeeea; */
}

.sw-projects-img-container {
    /* border: 5px solid #8b8311; */
    height: 250px;
    width: 600px;
    /* max-width: 300px; */
    /* max-height: 300px; */
}

.sw-projects-img {
    /* border: 5px solid #ad29b9; */
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: var(--rounded-component-corners-size);
}

.sw-projects-info-container {
    /* border: 5px solid #ac3727; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    margin-left: 40px;
}

.sw-projects-text {
    /* border: 5px solid black; */
    /* font-size: 1.125rem; */
}

.sw-projects-button-row {
    /* border: 5px solid #148019; */
    display: flex;
    justify-content: flex-end;
}

.sw-projects-button {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    padding: 10px 15px;
    /* width: 150px; */
    transition: 0.25s;
}

.sw-projects-button:hover {
    transform: scale(1.1);
}

.github-button-icon {
    height: 21px;
    width: 21px;
    margin-left: 10px;
}

#sw-projects-card1 {
    /* border: 5px solid #877c60; */
    grid-area: sw-projects-card1;
}

#sw-projects-card2 {
    /* border: 5px solid #776d55; */
    grid-area: sw-projects-card2;
}

#sw-projects-card3 {
    /* border: 5px solid #464032; */
    grid-area: sw-projects-card3;
}

#sw-projects-card4 {
    /* border: 5px solid #3f3a2d; */
    grid-area: sw-projects-card4;
}

#sw-projects-card5 {
    /* border: 5px solid #25221b; */
    grid-area: sw-projects-card5;
}

#sw-projects-card6 {
    /* border: 5px solid #14130e; */
    grid-area: sw-projects-card6;
}

/* 
==========================
RESPONSIVE STYLING
==========================
*/

@media screen and (max-width: 1100px) {
    html {
        font-size: 12px;
    }

    body {
        overflow-x: hidden;
    }

    #mouse-scroll-indicator {
        display: none;
    }

    #scroll-to-top-button {
        display: none;
    }

    nav {
        padding: 0;
    }

    nav ul {
        position: fixed;
        right: 0;
        height: 100%;
        padding: 20px 0;
        /* overflow: hidden; */
        top: 0;
        background-color: rgb(108, 99, 255, 0.95);
        display: flex;
        flex-direction: column;
        width: 100%;
        /* justify-content: center; */
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 1;
    }

    nav li {
        opacity: 0;
    }

    nav a {
        font-size: 3rem;
    }

    #logo img {
    }

    .hamburger-menu {
        display: block;
        cursor: pointer;
        z-index: 99;
    }

    .toggle #line1 {
        transform: rotate(-45deg) translate(-8px, 6px);
    }
    .toggle #line2 {
        opacity: 0;
    }
    .toggle #line3 {
        transform: rotate(45deg) translate(-8px, -6px);
    }

    h1 {
        font-size: 4rem;
        line-height: 65px;
    }

    h2 {
        /* font-size: 2.333rem; */
        font-size: 2.75rem;

        line-height: 38px;
    }

    h3 {
        font-size: 2rem;
    }

    p {
    }

    .page-container {
        padding: 0 10px;
        margin-bottom: 50px;
    }

    .section-header {
        /* font-size: small; */
    }

    .modal-content {
        word-wrap: break-word;
        font-size: 1.35rem;
        width: 80%; /* Could be more or less, depending on screen size */
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
    }

    #modal-profile-pic {
        border-width: 0.5rem;
        max-width: 80%;
    }

    #landing-blob {
        width: 60%;
        /* height: 100%; */
    }

    #contact-me-bar {
        justify-content: space-between;
    }

    #contact-me-socials {
        margin: 0;
    }

    .contact-me-item {
        margin: 0 5px;
    }

    #contact-me-button {
        padding: 10px 15px;
    }

    #contact-me-socials img:hover {
        transform: none;
    }

    #landing-page-container {
        margin-bottom: 50px;

        /* grid-template-rows: 1fr 2fr 2.6fr; */
        grid-template-columns: 1fr;
        grid-template-areas:
            "nav"
            "profile-pic-container"
            "name-intro";
    }

    #name-intro-container {
        padding-left: 0;
    }

    #profile-pic {
        max-width: 80%;
    }

    #about-me-container {
        background-image: url("./assets/Organic_Shapes/Phone\ About\ Me\ Blob\ Shape.svg");

        padding-bottom: 50px;
        margin-bottom: 50px;

        grid-template-columns: 1fr;
        grid-template-rows: 4.6fr;
        grid-template-areas:
            "about-me-images"
            "about-me-text";
    }

    #about-me-text {
        padding-top: 25px;
        padding-right: 0;
        font-size: 1.5rem;
        line-height: 22px;
    }

    #about-me-images img:hover {
        transform: none;
    }

    #experience-container {
        /* grid-template-rows: 1fr 5.2fr 5.2fr 5.2fr; */
        grid-template-columns: 1fr;
        grid-template-areas:
            "experience-header"
            "card1"
            "card2"
            "card3";
    }

    .card {
        font-size: 1.25rem;
        padding: 25px;
        margin: 15px 0;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
        /* position: initial; */
    }

    .card:hover {
        /* Removes the hover animation on mobile */
        transform: none;
    }

    .card-title {
        font-size: 1.5rem;
    }

    .location {
        margin-bottom: 30px;
        /* border: 5px solid #572e35; */
    }

    #skills-container {
        /* margin-top: 0; */
        background-image: none;

        /* background-image: url("./assets/Organic_Shapes/Phone\ Skills\ and\ Technologies\ Blob\ Shape.svg"); */

        padding-top: 0;

        /* grid-template-rows: 1fr 4.5fr; */
        grid-template-columns: 1fr;
        grid-template-areas:
            "skills-header"
            "skills-content";
    }

    #skills-header {
        text-align: left;
    }

    #skills-content {
        padding-bottom: 0;
    }

    .skills-row {
        /* transform: scale(0.5); */
        /* flex-shrink: 4; */
        margin-bottom: 5rem;
    }

    .skills-icon-container {
        /* transform: scale(0.75); */
        /* width: 33%; */
        /* height: 33%; */
        margin: 0 10px;
        margin-bottom: 10px;
        /* height: 25%; */
        width: 25%;
    }

    .skills-icon {
        /* width: auto; */
        max-width: 100%;
        height: auto;
        /* width: 100%; */
        /* height: 25%; */
        /* width: 75%; */
        margin: 0;
    }

    .skills-caption {
        font-size: 5vw;
        /* font-size: 20px; */
    }

    #graphic-design-container {
        margin-bottom: 100px;
        /* grid-template-rows: 1fr 6fr; */
        grid-template-columns: 1fr;
        grid-template-areas:
            "graphic-design-header"
            "graphic-design-content";
    }

    #graphic-design-header {
        margin-bottom: 15px;
    }

    /* Responsive layout - makes a two column-layout instead of four columns */
    .row {
        display: none;
    }

    .column {
        /* display: none; */
        flex: 50%;
        max-width: 50%;
    }

    .column img:hover {
        transform: none;
    }

    #main-carousel {
        display: block;
    }

    .flickity-viewport {
        transition: height 0.2s;
    }

    .carousel-cell {
        width: 100%;
    }

    .carousel-cell img {
        height: 100%;
        width: 100%;
        border-radius: var(--rounded-component-corners-size);
    }

    #sw-projects-container {
        margin-bottom: 0;

        /* grid-template-rows: 1fr 5.3fr 5.3fr 5.3fr 5.3fr 5.3fr 5.3fr; */
        grid-template-columns: 1fr;
        grid-template-areas:
            "sw-projects-header"
            "sw-projects-card1"
            "sw-projects-card2"
            "sw-projects-card3"
            "sw-projects-card4"
            "sw-projects-card5"
            "sw-projects-card6";
    }

    .sw-projects-cards {
        font-size: 1.25rem;
        width: 100%;
        padding: 20px;
        margin: 15px auto;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    }

    .sw-projects-cards:hover {
        transform: none;
    }

    /* Blue */
    .sw-projects-content {
        /* margin-top: 10px; */
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }

    /* Red */
    .sw-projects-info-container {
        /* margin: 0; */
        margin-left: 0;
        margin-top: 10px;
        height: 100%;
        justify-content: space-between;
    }

    /* Black */
    .sw-projects-text {
    }

    .sw-projects-title-container {
        flex-direction: column;
        align-items: flex-start;
    }
    .sw-project-title {
        font-size: 1.75rem;
    }

    .sw-projects-img {
        width: auto;
        max-width: 100%;
        height: auto;
        /* height: calc(240px / 2); */
        /* width: calc(400px / 2); */
    }

    .sw-projects-img-container {
        height: auto;
        width: auto;
    }

    .sw-projects-button:hover {
        transform: none;
    }

    .experience-title-container {
    }

    .languages-item {
        /* font-size: 0.1em; */
        /* width: 0.5em; */
        /* height: 10%; */
        /* transform: scale(0.75); */
        /* width: 50%; */
        /* max-width: 50%; */
        /* height: 50%; */
        margin-right: 14px;
        width: 30px;
        height: 30px;
    }

    .languages-item:last-child {
        margin: 0;
    }

    .languages-item img {
        /* width: 15%; */
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}
