#graphic-design-container {
  aspect-ratio: 16/9;
  background-image: url("assets/Organic_Shapes/Bottom_Wave.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;

  grid-template-areas:
    "graphic-design-header"
    "graphic-design-content";
  padding-bottom: 100px;
}

#graphic-design-header {
  grid-area: graphic-design-header;
}

#graphic-design-content {
  grid-area: graphic-design-content;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* or space-around */
  padding: 0 5px;
}

.column {
  /* Create four equal columns that sit next to each other */
  flex: 25%;
  max-width: 25%;
  padding: 0 5px;
}

.column > img {
  border-radius: 10px;
  margin-top: 10px;
  transition: transform 0.25s;
  vertical-align: middle;
  width: 100%;
}

.column > img:hover {
  transform: scale(1.1);
}

#main-carousel {
  display: none;
}

.art-grid-img {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#art-modal-img {
  animation-duration: 0.6s;
  animation-name: zoom;
  bottom: 0;
  display: none;
  left: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  overflow: auto;
  padding: 50px;
  position: fixed;
  right: 0;
  top: 0;
}

#art-modal-img.show {
  display: block;
}

/* Add Animation - Zoom in the Modal */
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

#art-modal-close {
  color: white;
  float: right;
  font-size: 3rem;
  font-weight: bold;
  position: absolute;
  right: 20px;
  top: 0;
  transition: 0.5s ease-out;
  z-index: 1;
}

#art-modal-close:hover,
#art-modal-close:focus {
  color: var(--color-purple);
  cursor: pointer;
  text-decoration: none;
}

.swiper {
  display: none;
}

@media screen and (max-width: 1100px) {
  #graphic-design-container {
    margin-bottom: 50px;
  }

  #graphic-design-header {
    margin-bottom: 15px;
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
  .row {
    display: none;
  }

  .swiper {
    display: block;
    width: 85vw;
  }

  .swiper-slide img {
    border-radius: var(--rounded-component-corners-size);
    height: 100%;
    width: 100%;
  }

  .swiper-pagination {
    /* By default it uses position absolute which we don't want because we want the pagination bar below the images*/
    position: unset;
  }

  .swiper-button-next,
  .swiper-button-prev {
    background: var(--color-art-swiper-buttons);
    border-radius: var(--rounded-component-corners-size);
    color: var(--color-purple);
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 2rem;
    font-weight: 900;
  }

  .swiper-pagination-bullet {
    background-color: var(--color-art-swiper-bullets);
  }
}
