#about-me-container {
  aspect-ratio: 16/9;
  background-image: url("assets/Organic_Shapes/About_Me_Blob_Shape.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-areas: "about-me-images about-me-text";

  grid-template-columns: 1.15fr 1fr;
  margin-top: 50px;
  padding-bottom: 100px;
  padding-top: 50px;
}

#about-me-images {
  grid-area: about-me-images;
}

#about-me-images img {
  transition: transform 0.5s; /* Animation */
}

#about-me-images img:hover {
  transform: scale(1.1);
}

#about-me-header {
  text-align: center;
}

#about-me-text {
  font-size: 1.75rem;
  font-weight: 400;

  grid-area: about-me-text;
  line-height: 38px;
  padding-right: 10%;

  padding-top: 150px;
}

#grad-cap-illustration {
  display: block;
  position: relative;
  width: 50%;
}

#desk-illustration {
  display: block;
  left: 30%;
  position: relative;
  width: 50%;
}

#background-logo {
  opacity: 0.1;
  position: absolute;
  right: 0px;
  width: 50%;
  z-index: -1;
}

@media screen and (max-width: 1100px) {
  #about-me-container {
    aspect-ratio: 9/16;
    background-image: url("assets/Organic_Shapes/Phone_About_Me_Blob_Shape.svg");
    grid-template-areas:
      "about-me-images"
      "about-me-text";

    grid-template-columns: 1fr;
    grid-template-rows: 4.6fr;
    margin-bottom: 50px;

    padding-bottom: 50px;
  }

  #about-me-text {
    font-size: 1.5rem;
    line-height: 22px;
    padding-right: 0;
    padding-top: 25px;
  }

  #about-me-images img:hover {
    transform: none;
  }
}
