#landing-page-container {
  display: grid;
  margin-bottom: 150px;
  grid-template-columns: 1.5fr 1fr;

  grid-template-areas:
    "nav nav"
    "name-intro profile-pic-container";
}

#name-intro-container {
  padding-left: 10%;
  padding-top: 5%;

  grid-area: name-intro;
}

#profile-pic-container {
  grid-area: profile-pic-container;
}

#profile-pic {
  display: block;
  margin: 2rem auto;
  max-width: 80%;
  padding: 0 2rem;
  transform: unset;
  -webkit-transform: unset;
}

#software-engineer {
  font-weight: 700;
  font-size: 2.25rem;

  margin-block-start: 0;
  margin-block-end: 0;
}

#subtitle {
  font-weight: 400;
  font-size: 1.5rem;
}

#contact-me-modal-profile-pic {
  border: 10px solid var(--color-purple);
  border-radius: 100%;
  margin: 0 auto;
  display: block;
  max-width: 30%;
  height: auto;
}

#contact-me-container {
  padding-left: 250px;

  grid-area: contact-me-container;
}

#contact-me-bar {
  display: flex;
  align-items: center;
  margin-top: 75px;
}

#contact-me-button {
  font-size: 1.625rem;
  padding: 15px 20px;
  color: white;
}

#contact-me-button span {
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
}

#contact-me-button span::after {
  content: "\00bb"; /* Makes an arrow >> */
  color: var(--color-yellow);
  opacity: 0;
  position: absolute;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#contact-me-button:hover span {
  padding-right: 20px;
}

#contact-me-button:hover span:after {
  opacity: 1;
  right: 0;
}

#contact-me-modal-content {
  display: none;
  position: relative;
  font-size: 2rem;
  width: 50%; /* Could be more or less, depending on screen size */
  margin: 10% auto; /* 10% from the top and centered */
  padding: 40px;
  border-radius: var(--rounded-component-corners-size);
  background-color: var(--color-card);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#contact-me-modal-content.show {
  display: block;
}

#contact-me-modal-close {
  position: absolute;
  top: 0;
  right: 20px;
  color: var(--color-body-text);
  float: right;
  font-size: 3rem;
  font-weight: bold;
  transition: 0.25s ease-out;
}

#contact-me-modal-close:hover,
#contact-me-modal-close:focus {
  color: var(--color-purple);
  text-decoration: none;
  cursor: pointer;
}

#contact-me-socials {
  margin: 0 50px;
}

#contact-me-socials svg {
  transition: transform 0.5s; /* Animation */
}

#contact-me-socials svg:hover {
  transform: scale(1.1);
}

#github-logo {
  fill: var(--color-socials-github);
}

#linkedin-logo {
  fill: var(--color-socials-linkedin);
}

.contact-me-item {
  margin-right: 25px;
  width: 50px;
  height: 50px;
}

#landing-blob {
  position: absolute;
  width: 50%;
  top: 0px;
  right: 0px;
  z-index: -1;
}

@media screen and (max-width: 1100px) {
  #landing-blob {
    width: 60%;
  }

  #landing-page-container {
    margin-bottom: 50px;

    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "profile-pic-container"
      "name-intro";
  }

  #software-engineer {
    font-size: 2rem;
  }

  #contact-me-bar {
    justify-content: space-between;
  }

  #contact-me-socials {
    margin: 0;
  }

  .contact-me-item {
    margin: 0 5px;
  }

  #contact-me-button {
    padding: 10px 15px;
  }

  #contact-me-socials img:hover {
    transform: none;
  }

  #contact-me-modal-content {
    word-wrap: break-word;
    font-size: 1.65rem;
    width: 85%; /* Could be more or less, depending on screen size */
    margin: 15% auto; /* 15% from the top and centered */
    padding: 50px 20px;
  }

  #contact-me-modal-profile-pic {
    border-width: 0.5rem;
    max-width: 80%;
  }

  #name-intro-container {
    padding-left: 0;
  }

  #profile-pic {
    max-width: 80%;
  }
}
