#landing-page-container {
  display: grid;

  grid-template-areas:
    "nav nav"
    "name-intro profile-pic-container";
  grid-template-columns: 1.5fr 1fr;
  margin-bottom: 150px;
}

#name-intro-container {
  grid-area: name-intro;
  padding-left: 10%;
  padding-top: 5%;
}

#name {
  color: var(--color-name);
}

#profile-pic-container {
  grid-area: profile-pic-container;
}

#profile-pic {
  display: block;
  margin: 2rem auto;
  max-width: 80%;
  padding: 0 2rem;
  transform: unset;
  -webkit-transform: unset;
}

#software-engineer {
  font-size: 2.25rem;
  font-weight: 700;
  margin-block-end: 0;

  margin-block-start: 0;
}

#subtitle {
  font-size: 1.5rem;
  font-weight: 400;
}

#contact-me-modal-profile-pic {
  border: 10px solid var(--color-purple);
  border-radius: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 30%;
}

#contact-me-container {
  grid-area: contact-me-container;
  padding-left: 250px;
}

#contact-me-bar {
  align-items: center;
  display: flex;
  margin-top: 75px;
}

#contact-me-button {
  color: white;
  font-size: 1.625rem;
  padding: 15px 20px;
}

#contact-me-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#contact-me-button span::after {
  color: var(--color-yellow);
  content: "\00bb"; /* Makes an arrow >> */
  opacity: 0;
  position: absolute;
  right: -20px;
  top: 0;
  transition: 0.5s;
}

#contact-me-button:hover span {
  padding-right: 20px;
}

#contact-me-button:hover span:after {
  opacity: 1;
  right: 0;
}

#contact-me-modal-content {
  background-color: var(--color-card);
  border-radius: var(--rounded-component-corners-size);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: none;
  font-size: 2rem;
  margin: 10% auto; /* 10% from the top and centered */
  padding: 40px;
  position: relative;
  width: 50%; /* Could be more or less, depending on screen size */
}

#contact-me-modal-content.show {
  display: block;
}

#contact-me-modal-close {
  color: var(--color-body-text);
  float: right;
  font-size: 3rem;
  font-weight: bold;
  position: absolute;
  right: 20px;
  top: 0;
  transition: 0.25s ease-out;
}

#contact-me-modal-close:hover,
#contact-me-modal-close:focus {
  color: var(--color-purple);
  cursor: pointer;
  text-decoration: none;
}

#contact-me-socials {
  margin: 0 50px;
}

#contact-me-socials svg {
  transition: transform 0.5s, fill 0.5s;
}

#contact-me-socials svg:hover {
  transform: scale(1.1);
  fill: var(--color-socials-hover);
}

#github-logo {
  fill: var(--color-socials-github);
}

#linkedin-logo {
  fill: var(--color-socials-linkedin);
}

.contact-me-item {
  height: 50px;
  margin-right: 25px;
  width: 50px;
}

#landing-blob {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 50%;
  z-index: -1;
}

@media screen and (max-width: 1100px) {
  #landing-blob {
    width: 60%;
  }

  #landing-page-container {
    grid-template-areas:
      "nav"
      "profile-pic-container"
      "name-intro";

    grid-template-columns: 1fr;
    margin-bottom: 50px;
  }

  #software-engineer {
    font-size: 2rem;
  }

  #contact-me-bar {
    justify-content: space-between;
  }

  #contact-me-socials {
    margin: 0;
  }

  .contact-me-item {
    margin: 0 5px;
  }

  #contact-me-button {
    padding: 10px 15px;
  }

  #contact-me-socials img:hover {
    transform: none;
  }

  #contact-me-modal-content {
    word-wrap: break-word;
    font-size: 1.65rem;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 50px 20px;
    width: 85%; /* Could be more or less, depending on screen size */
  }

  #contact-me-modal-profile-pic {
    border-width: 0.5rem;
    max-width: 80%;
  }

  #name-intro-container {
    padding-left: 0;
  }

  #profile-pic {
    max-width: 80%;
  }
}
