.mouse {
  border: 4px solid var(--color-mouse);
  border-radius: var(--rounded-button-corners-size);
  bottom: 0%;
  height: 60px;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: 0.75s;
  width: 40px;
}

.mouse::after {
  -webkit-animation: scroll 2s -1s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
  animation: scroll 2s -1s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
  background-color: var(--color-mouse);
  border-radius: 100%;
  content: "";
  height: 4px;
  left: 50%;
  margin-left: -2px;
  opacity: 1;
  position: absolute;
  top: 5px;
  -webkit-transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
  transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
  width: 4px;
}

@-webkit-keyframes scroll {
  0%,
  20% {
    -webkit-transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
    transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
    transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
  }
  100% {
    opacity: 0.01;
    -webkit-transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
    transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
  }
}

@keyframes scroll {
  0%,
  20% {
    -webkit-transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
    transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
    transform: translateY(0px) scaleY(1.2) scaleX(1.2) translateZ(0px);
  }
  100% {
    opacity: 0.01;
    -webkit-transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
    transform: translateY(20px) scaleY(2.5) scaleX(0.5) translateZ(0px);
  }
}

@media screen and (max-width: 1100px) {
  #mouse-scroll-indicator {
    display: none;
  }
}
