nav {
  display: flex;
  margin: 0 2vw;
  justify-content: space-between;
  align-items: center;
  height: 12vh;

  grid-area: nav;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 48%;
  list-style-type: none;
}

nav li {
  float: left;
  margin-bottom: 0;
  animation: navLinkFade 0.5s ease forwards;
}

nav li a {
  color: white;
  text-decoration: none;
  font-weight: 900;
  font-size: 1.5vw;

  position: relative;
  transition: var(--animation-duration);
}

nav li a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0%;
  background: var(--color-yellow);
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}

nav li a:hover {
  color: var(--color-yellow);
}

nav li a:hover::after {
  /* Moves the underline bar */
  transform: scaleX(1);
  transform-origin: left;
}

.nav-active {
  transform: translateX(0%);
}

.hamburger-menu {
  display: none;
}

.line {
  width: 25px;
  height: 5px;
  border-radius: var(--rounded-button-corners-size);
  background-color: white;
  margin: 5px;
  transition: all 0.5s ease;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

#logo {
  float: left;
  width: auto;
  height: 8vh;
  fill: var(--color-logo);
}

@media screen and (max-width: 1100px) {
  nav {
    padding: 0;
  }

  nav ul {
    position: fixed;
    right: 0;
    height: 100%;
    padding: 20px 0;
    top: 0;
    background-color: rgb(108, 99, 255, 0.95);
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 1;
  }

  nav li {
    opacity: 0;
  }

  nav li a {
    font-size: 3rem;
  }

  .hamburger-menu {
    margin-right: 2vw;
    display: block;
    cursor: pointer;
    z-index: 1;
  }

  .toggle #line1 {
    transform: rotate(-45deg) translate(-8px, 6px);
  }
  .toggle #line2 {
    opacity: 0;
  }
  .toggle #line3 {
    transform: rotate(45deg) translate(-8px, -6px);
  }
}
