@media screen and (max-width: 1100px) {
  html {
    font-size: 12px;
  }

  body {
    overflow-x: hidden;
  }

  #mouse-scroll-indicator {
    display: none;
  }

  #scroll-to-top-button {
    display: none;
  }

  nav {
    padding: 0;
  }

  nav ul {
    position: fixed;
    right: 0;
    height: 100%;
    padding: 20px 0;
    top: 0;
    background-color: rgb(108, 99, 255, 0.95);
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 1;
  }

  nav li {
    opacity: 0;
  }

  nav a {
    font-size: 3rem;
  }

  .hamburger-menu {
    display: block;
    cursor: pointer;
    z-index: 99;
  }

  .toggle #line1 {
    transform: rotate(-45deg) translate(-8px, 6px);
  }
  .toggle #line2 {
    opacity: 0;
  }
  .toggle #line3 {
    transform: rotate(45deg) translate(-8px, -6px);
  }

  h1 {
    font-size: 4rem;
    line-height: 65px;
  }

  h2 {
    font-size: 2.75rem;
    line-height: 38px;
  }

  h3 {
    font-size: 2rem;
  }

  .page-container {
    padding: 0 10px;
    margin-bottom: 50px;
  }

  .modal-content {
    word-wrap: break-word;
    font-size: 1.35rem;
    width: 80%; /* Could be more or less, depending on screen size */
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
  }

  #modal-profile-pic {
    border-width: 0.5rem;
    max-width: 80%;
  }

  #landing-blob {
    width: 60%;
  }

  #contact-me-bar {
    justify-content: space-between;
  }

  #contact-me-socials {
    margin: 0;
  }

  .contact-me-item {
    margin: 0 5px;
  }

  #contact-me-button {
    padding: 10px 15px;
  }

  #contact-me-socials img:hover {
    transform: none;
  }

  #landing-page-container {
    margin-bottom: 50px;

    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "profile-pic-container"
      "name-intro";
  }

  #name-intro-container {
    padding-left: 0;
  }

  #profile-pic {
    max-width: 80%;
  }

  #about-me-container {
    background-image: url("assets/Organic_Shapes/Phone_About_Me_Blob_Shape.svg");

    padding-bottom: 50px;
    margin-bottom: 50px;

    grid-template-columns: 1fr;
    grid-template-rows: 4.6fr;
    grid-template-areas:
      "about-me-images"
      "about-me-text";
  }

  #about-me-text {
    padding-top: 25px;
    padding-right: 0;
    font-size: 1.5rem;
    line-height: 22px;
  }

  #about-me-images img:hover {
    transform: none;
  }

  .card {
    font-size: 1.25rem;
    padding: 25px;
    margin: 15px auto;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  }

  .card:hover {
    /* Removes the hover animation on mobile */
    transform: none;
  }

  .card-title {
    font-size: 1.5rem;
  }

  .location {
    margin-bottom: 30px;
  }

  #skills-container {
    background-image: none;
    padding-top: 0;

    grid-template-columns: 1fr;
    grid-template-areas:
      "skills-header"
      "skills-content";
  }

  #skills-header {
    text-align: left;
  }

  #skills-content {
    padding-bottom: 0;
  }

  .skills-row {
    margin-bottom: 5rem;
  }

  .skills-icon-container {
    width: 25%;
    margin: 0 10px;
    margin-bottom: 10px;
  }

  .skills-icon-container > svg {
    max-width: 100%;
    height: auto;
    margin: 0;
  }

  .skills-caption {
    font-size: 5vw;
  }

  #graphic-design-container {
    margin-bottom: 100px;

    grid-template-columns: 1fr;
    grid-template-areas:
      "graphic-design-header"
      "graphic-design-content";
  }

  #graphic-design-header {
    margin-bottom: 15px;
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
  .row {
    display: none;
  }

  .column {
    flex: 50%;
    max-width: 50%;
  }

  .column img:hover {
    transform: none;
  }

  #main-carousel {
    display: block;
  }

  .flickity-viewport {
    transition: height 0.2s;
  }

  .carousel-cell {
    width: 100%;
  }

  .carousel-cell img {
    height: 100%;
    width: 100%;
    border-radius: var(--rounded-component-corners-size);
  }

  #sw-projects-container {
    margin-bottom: 0;

    grid-template-columns: 1fr;
    grid-template-areas:
      "sw-projects-header"
      "sw-projects-card1"
      "sw-projects-card2"
      "sw-projects-card3"
      "sw-projects-card4"
      "sw-projects-card5"
      "sw-projects-card6";
  }

  .sw-projects-cards {
    font-size: 1.25rem;
    width: 100%;
    padding: 20px;
    margin: 15px auto;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  }

  .sw-projects-cards:hover {
    transform: none;
  }

  /* Blue */
  .sw-projects-content {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  /* Red */
  .sw-projects-info-container {
    height: 100%;
    margin-left: 0;
    margin-top: 10px;
    justify-content: space-between;
  }

  /* Black */
  .sw-projects-title-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .sw-projects-cards .languages-bar {
    margin-top: 1rem;
  }

  .sw-project-title {
    font-size: 1.75rem;
  }

  .sw-projects-img {
    width: auto;
    max-width: 100%;
    height: auto;
  }

  .sw-projects-img-container {
    height: auto;
    width: auto;
  }

  .sw-projects-button:hover {
    /* Removes the hover effect on mobile */
    background-color: var(--color-purple);
  }

  .languages-item {
    width: var(--mobile-thumbnail-size);
    height: var(--mobile-thumbnail-size);
    margin-right: 14px;
  }

  .languages-item:last-child {
    margin: 0;
  }
}
