#scroll-to-top-button {
  display: block;
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 1;
  font-size: 1.5rem;
  outline: none;
  background-color: var(--color-yellow);
  color: black;
  box-shadow: 2px 5px 10px grey;
  cursor: pointer;
  border-radius: 50%; /* Creates a circle */
  opacity: 0;
  transform: translateX(15px);
  transition: opacity 1s ease, transform 1s ease;
}

#scroll-to-top-button.show {
  opacity: 1;
  transform: translateX(0px);
}

#scroll-to-top-button:hover {
  transform: scale(1.1);
}
