#skills-container {
  display: grid;
  padding-top: 50px;
  margin: 50px 0;
  background-image: url("assets/Organic_Shapes/Skills_and_Technologies_Blob_Shape.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  grid-template-columns: 1fr;
  grid-template-areas:
    "skills-header"
    "skills-content";
}

#skills-header {
  text-align: center;
  margin-bottom: 2rem;

  grid-area: skills-header;
}

#skills-content {
  padding-bottom: 100px;

  grid-area: skills-content;
}

.skills-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.skills-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 50px;
}

.skills-caption {
  text-align: center;
  font-weight: 900;
  font-size: 1.625rem;
}

@media screen and (max-width: 1100px) {
  #skills-container {
    background-image: none;
    padding-top: 0;

    grid-template-columns: 1fr;
    grid-template-areas:
      "skills-header"
      "skills-content";
  }

  #skills-header {
    text-align: left;
  }

  #skills-content {
    padding-bottom: 0;
  }

  .skills-row {
    margin-bottom: 5rem;
  }

  .skills-icon-container {
    width: 25%;
    margin: 0 10px;
    margin-bottom: 10px;
  }

  .skills-icon-container > svg {
    max-width: 100%;
    height: auto;
    margin: 0;
  }

  .skills-caption {
    font-size: 5vw;
  }
}
