#sw-projects-container {
  display: grid;
  grid-template-areas:
    "sw-projects-header"
    "sw-projects-card1"
    "sw-projects-card2"
    "sw-projects-card3"
    "sw-projects-card4"
    "sw-projects-card5"
    "sw-projects-card6";

  grid-template-columns: 1fr;
  padding-bottom: 100px;
  width: 100%;
}

#sw-projects-header {
  grid-area: sw-projects-header;
}

.sw-projects-title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.sw-project-title {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1;
}

.sw-projects-content {
  display: flex;
}

.sw-projects-thumbnail-container {
  height: 250px;
  width: 600px;
}

.sw-projects-thumbnail {
  border-radius: var(--rounded-component-corners-size);
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.sw-projects-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 40px;
  width: 100%;
}

.sw-projects-button-row {
  display: flex;
  justify-content: flex-end;
}

.sw-projects-button {
  display: flex;
  justify-content: space-around;
  padding: 10px 15px;
}

.github-button-icon {
  height: 21px;
  margin-right: 10px;
  width: 21px;
}

#sw-projects-card1 {
  grid-area: sw-projects-card1;
}

#sw-projects-card2 {
  grid-area: sw-projects-card2;
}

#sw-projects-card3 {
  grid-area: sw-projects-card3;
}

#sw-projects-card4 {
  grid-area: sw-projects-card4;
}

#sw-projects-card5 {
  grid-area: sw-projects-card5;
}

#sw-projects-card6 {
  grid-area: sw-projects-card6;
}

@media screen and (max-width: 1100px) {
  #sw-projects-container {
    padding-bottom: 0;
  }

  .sw-projects-content {
    align-items: center;
    flex-direction: column;
  }

  .sw-projects-info-container {
    margin-left: 0;
    margin-top: 10px;
  }

  .sw-projects-title-container {
    align-items: flex-start;
    flex-direction: column;
  }

  .sw-projects-card .languages-bar {
    margin-top: 1rem;
  }

  .sw-project-title {
    font-size: 1.75rem;
  }

  .sw-projects-thumbnail-container {
    height: auto;
    width: auto;
  }

  .sw-projects-thumbnail {
    height: auto;
    max-width: 100%;
    width: auto;
  }

  .sw-projects-text {
    margin-bottom: 1rem;
  }
}
