@import "styles/Common/hover.css";

:root {
  --color-purple: hsl(243, 100%, 69%); /* #6c63ff */
  --color-purple-550: hsl(243, 100%, 64%);
  --color-white: white;
  --color-off-grey: #707070;
  --color-yellow: #ffc261;
  --color-arcules: #0cb4df;
  --color-reazon: #00acee;
  --color-raytheon: #ce1126;
  --color-id-tech: #006633;

  --thumbnail-size: 40px;
  --language-item-size: 35px;
  --mobile-thumbnail-size: 30px;
  --rounded-button-corners-size: 1000px;
  --rounded-component-corners-size: 40px;
  --animation-duration: 0.5s;
}

/* Light Mode */
:root[color-mode="light"] {
  --color-background: var(--color-white);
  --color-scrollbar-background: #d9d9d9;
  --color-body-text: var(--color-off-grey);
  --color-card: var(--color-white);
  --color-art-swiper-bullets: var(--color-purple);
  --color-art-swiper-buttons: rgba(255, 255, 255, 0.6);
  --color-mouse: #2f2e41;
  --color-scroll-to-top-button-box-shadow: 2px 5px 10px grey;
  --color-card-alt-text: var(--color-off-grey);
  --color-socials-github: var(--color-off-grey);
  --color-socials-linkedin: var(--color-off-grey);
  --color-socials-hover: var(--color-purple);
  --color-name: var(--color-purple);
  --color-section-header: var(--color-purple);
}

/* Dark Mode */
:root[color-mode="dark"] {
  --color-background: #1e272e;
  --color-scrollbar-background: #2b343b;
  --color-body-text: var(--color-white);
  --color-card: #2b343b;
  --color-art-swiper-bullets: var(--color-white);
  --color-art-swiper-buttons: rgba(43, 52, 59, 0.3);
  --color-mouse: var(--color-yellow);
  --color-scroll-to-top-button-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  --color-card-alt-text: #a5a5a5;
  --color-socials-github: var(--color-white);
  --color-socials-linkedin: var(--color-white);
  --color-socials-hover: var(--color-yellow);
  --color-logo: var(--color-purple);
  --color-name: var(--color-yellow);
  --color-section-header: var(--color-yellow);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background-color: var(--color-background);
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  margin: 0;
  color: var(--color-body-text);
  font-family: "Nunito", sans-serif;
}

html,
body {
  height: 100%;
}

h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: 900;
  font-size: 6rem;
  line-height: 131px;
}

h2 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: 900;
  font-size: 3.125rem;
}

a {
  color: var(--color-purple);
}

ul {
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-left: 0;
  list-style-position: inside;
}

li {
  margin-bottom: 0.5em;
}

/* Second Level */
ul ul {
  margin-left: 2em;
}

.page-container {
  padding: 0 5em;
}

.section-header {
  color: var(--color-section-header);
  text-align: center;
  text-transform: uppercase;
}

.button {
  cursor: pointer;
  margin: 5px;
  outline: none;
  border: none;
  border-radius: var(--rounded-button-corners-size);
  background: var(--color-purple);

  color: white;
  font: 900 large "Nunito";
  font-size: 1.125rem;
  text-align: center;
  text-transform: uppercase;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  transition: transform 0.5s;
  margin: 20px auto;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
  border-radius: var(--rounded-component-corners-size);
  background: var(--color-card);
  padding: 35px;
  width: 80%;
  font-size: 1rem;
}

.card:hover {
  transform: scale(1.1);
}

.modal-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}

.modal-bg.show {
  display: block;
}

@media screen and (max-width: 1100px) {
  html {
    font-size: 12px;
  }

  body {
    overflow-x: hidden;
  }

  h1 {
    font-size: 4rem;
    line-height: 65px;
  }

  h2 {
    font-size: 2.75rem;
    line-height: 38px;
  }

  .page-container {
    margin-bottom: 50px;
    padding: 0 10px;
  }

  .card {
    margin: 15px auto;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    padding: 25px;
    width: 90%;
    font-size: 1.25rem;
  }

  .card:hover {
    transform: none;
  }
}
