#scroll-to-top-button {
  display: block;
  position: fixed;
  right: 15px;
  bottom: 20px;
  transform: translateX(15px);
  opacity: 0;
  z-index: 1;
  transition: opacity 1s ease, transform 1s ease;
  cursor: pointer;
  outline: none;
  box-shadow: var(--color-scroll-to-top-button-box-shadow);
  border-radius: 50%;
  background-color: var(--color-yellow);
  width: 50px;
  height: 50px;
  color: black;
  font-size: 1.5rem;
}

#scroll-to-top-button.show {
  transform: translateX(0px);
  opacity: 1;
}

#scroll-to-top-button:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1100px) {
  #scroll-to-top-button {
    display: none;
  }
}
