/* Works on Firefox */
* {
  scrollbar-color: var(--color-purple);
  scrollbar-width: thin;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--color-scrollbar-background);
}

*::-webkit-scrollbar-thumb {
  border: 3px solid var(--color-scrollbar-background);
  border-radius: 20px;
  background-color: var(--color-purple-550);
}
