#experience-container {
  display: grid;
  grid-template-columns: 1fr;

  grid-template-areas:
    "experience-header"
    "card1"
    "card2"
    "card3"
    "card4";
  margin-top: 50px;
}

#experience-header {
  grid-area: experience-header;
}

#card1 {
  grid-area: card1;
}

#card2 {
  grid-area: card2;
}

#card3 {
  grid-area: card3;
}

#card4 {
  grid-area: card4;
}

.experience-thumbnail {
  width: var(--thumbnail-size);
  height: var(--thumbnail-size);
}

.experience-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  font-weight: 900;
  font-size: 1.35rem;
}

.location {
  margin-bottom: 25px;
  font-style: italic;
}

.secondary-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.position {
  color: var(--color-card-alt-text);
  font-weight: 700;
  font-size: 1.15rem;
}

.supporting-text {
  margin-top: 1em;
  margin-bottom: 1em;
}

.languages-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: auto;
}

.languages-item {
  margin-right: 20px;
  width: var(--language-item-size);
  height: var(--language-item-size);
}

.languages-item:last-child {
  margin: 0;
}

@media screen and (max-width: 1100px) {
  .card-title {
    font-size: 1.5rem;
  }

  .location {
    margin-bottom: 30px;
  }

  .languages-item {
    margin-right: 14px;
    width: var(--mobile-thumbnail-size);
    height: var(--mobile-thumbnail-size);
  }

  .languages-item:last-child {
    margin: 0;
  }
}
